/* TODO:
*  FIX LATER: at certain lengths the h1 and search bar aren't aligned properly,
*  mainly happens around the 500-400px area. Might just use col system but not 100% sure yet.
*
*  ..
*/

.main {
  background: #6441a5;;
  background-image: linear-gradient(#7152A0 0, #6441a5 100%);
  padding-top: 0px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 1px 1px black;
}

/* ==============* MENU CSS ==============*/

.menu {
  position: absolute;
  width: 50px;
  height: 45px;
  padding: 10px;
}

.bar {
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 10px;
}

/* ===========* SEARCH BAR CSS ===========*/

.search-bar {
  margin: 0 auto;
  width: 500px;
}

@media (max-width: 500px) {
  .search-bar {
    width: 400px;
  }
}

/* ========* TWITCH EMBEDDED CSS ========*/

.embedded {
  width: 1154px;
  margin: 0 auto;
  text-align: center;
}

.stream {
  height: 480px;
  width: 850px;
  margin: 0 auto;
  display: inline-block;
}

.chat {
    display: inline-block;
}

/* ============* RECOMMENDED NAVBAR CSS ===========*/

.recommended nav {
  border-radius: 0px;
  margin-bottom: 0px;
}

.nav-header {
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  overflow-x: auto;
}

#nav-objects a {
  min-width: 240px;
  height: 140px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
}
